RUST_LOG=agent=info,channel=info,common=info,relay=info,server=info
APP_MODE=production
REDIS_DATABASE_URL=redis://redis:6379/0
DATABASE_URL=postgresql://phirepass:phirepass@postgres:5432/db
JWT_SECRET=your_jwt_secret_key